header {
    font-size: 40px;
    color: brown;
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: beige;
    color: black;
}

.activityList {
    margin: 25px;
}

.contactList {
    margin: 25px;
}

img {
    height: 150px;
    width: 150px;
}

/* hover */
h1:hover {
    color: red;
}

h2:hover {
    color: red;
}

h3:hover {
    color: red;
}


footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
