header {
    font-size: 40px;
    color: brown;
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: beige;
    color: black;
}

.activityList {
    margin: 25px;
}

.contactList {
    margin: 25px;
}

img {
    height: 150px;
    width: 150px;
}

il a:hover {
    color: red;
}
