header {
    font-size: 40px;
    color: brown;
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: beige;
    color: black;
}

.activityList {
    margin: 25px;
}

.contactList {
    margin: 25px;
}

img {
    height: 150px;
    width: 150px;
}

/* hover */
h1:hover h2:hover h3:hover {
    color: red;
}

footer {
    position: relative;
    margin-top: -180px;
    height: 100px;
    clear: both;
    background-color: red;
}
